.privacy-policy {
    h1 {
        font-size: medium;
        font-weight: bold;
    }
    p {
        font-size: small;
        text-align: justify;
        margin-bottom: 0.875rem;
    }
    ul {
        margin-bottom: 0.875rem;
    }
    li {
        margin-left: 1rem;
        margin-bottom: 0.2rem;
    }
}
